<a href="https://colab.research.google.com/github/Shyam83-oss/Machine-learning-/blob/os/List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#To print the square of a no. in the list given , if it is greater than 50

l=[i for i in range(0,11) if ( i**2>50)]
print(l)

[8, 9, 10]

In [2]:
# For the given list if the value i < than 5 then print "HI" else print "BYE"


l=["HI" if(i<5) else "BYE" for i in range(0,11) ]
print(l)

['HI', 'HI', 'HI', 'HI', 'HI', 'BYE', 'BYE', 'BYE', 'BYE', 'BYE', 'BYE']

In [3]:
# If x**2 <= excute 27*x foe values in range 1-20
l=[27*i for i in range(1,21) if(i**2<=10)]
print(l)

[27, 54, 81]

In [4]:
# Print all the even no. in the range 1-20
[i for i in range(1,21) if i%2==0 ]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [5]:
# Find all the no . that can be divided by 2 and 5 in some range 
l=[i for i in range(1,101) if (i%2==0) and (i%5==0)]
print(l)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [6]:
# Find all the no from 1-1000 that have 3 i them
l=[i for i in range(1,1001) if ('3'in str(i))]
print(l)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

In [7]:
# Count the no of the spaces in that string 
s= "I Love India "
l1=[i for i in s if i==' ']
print(len(l1))

3

In [8]:
# Count the no. of consonent
s=" I am Student of CSIT Department"
v=['a','e','i','o','u', ' ']
l=[i for i in s if (i not in v )]
print(l)

['I', 'm', 'S', 't', 'd', 'n', 't', 'f', 'C', 'S', 'I', 'T', 'D', 'p', 'r', 't', 'm', 'n', 't']